<!DOCTYPE html>
<html>
  <head>
    <title>E-greetings </title>
    <link rel="stylesheet" href="css/enterdata.css">
  </head>
  <body>
    <div class="container">
      <form action="/enterdata" method="post">
        <span><a href="/" >&#8592;</a></span>
     <h4>Admission Number</h4>
    

        <div class="input-box">
            
            <input type="text" id="name" name ="AN" required>
         
        </div>
          <button type="submit" class="btn">find</button>
        </form>
    </body>
</html>