<html>
    <head>
        <title>
            E-Greetings
        </title>
        <link rel="stylesheet" href="css/front.css">
    </head>
    <body>
        <img src="C:\Users\vansh\OneDrive\Pictures\Screenshots\Screenshot 2024-03-26 130721.png" alt="logo">
        <h1>E-Greetings</h1>

    </body>
    
</html>