<!DOCTYPE html>
<html>
  <head>
    <title>E-greetings </title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <div class="container">
      <form action="">
        <h1>Home Page</h1>

    
        <button type="button" class="btn1" onclick="window.location.href = 'entry';">Manual Entry</button><br><br>

        <button type="button" class="btn2" onclick="window.location.href = 'upload';">Upload Excel Sheet</button><br><br>
        
        <button type="button" class="btn4" onclick="window.location.href = 'enterdata';">Delete</button>
    
      </form>
    </div>
  </body>
</html>