<!DOCTYPE html>
<html>
  <head>
    <title>E-greetings </title>
    <link rel="stylesheet" href="css/Signup.css">
  </head>
  <body>
    <div class="container">
      <form name="myForm" action="" onsubmit="return validateForm()" method="post">
        <span><a href="login" >&#8592;</a></span>
        <h1>Sign up</h1>
        <h6>Create your account</h6>

        <div class="input-box">
          <input type="text" id="username" placeholder="username"  required />
         
        </div>
        <div class="input-box">
            <input type="email" id="email" placeholder="E-mail"  required />
           
          </div>
        <div class="input-box">
          <input type="password" id="password" placeholder="password" required />
        
        </div>
        <div class="input-box">
            <input type="password" id="cpassword" placeholder="confirm password" required />
          
          </div>

          
        <button type="submit" class="btn" onclick="window.location.href = 'sendotp';">Sign up</button>
            
        <div class="register-link">
          <p>Already have an account? <a href="login">Sign in</a></p>
        </div>
       
        
        
      </form>
    </div>
    
    <script src="signup.js"></script>    
  </body>
</html>