* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/gradient-emerald-background_23-2150260693.jpg);
    background-size: cover;
    background-position: center;
  }
  
 
  
  

  
  .input-box input {
    width: 120%;
    height: 20%;
    background:#fff;
    border: 2px solid rgb(255, 255, 255, 0.813);
    border-radius: 0px;
    font-size: 16px;
    color: #030303;
    padding: 20px 45px 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 40px;
    
  }

 .container h4{
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    color: #fff;
    margin-bottom: 40px;
   

 }
.container .btn {
    width: 50%;
    height: 45px;
    margin-left: 85px;
    margin-top: 20px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-decoration-break: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.353);
    
  }
  span {
    content: "\2190";
  
    
  }
  a:link {
    color:#fff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color:#fff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:#fff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color:#fff;
    background-color: transparent;
    text-decoration: underline;
  }